*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: black;
    border-radius: 10px;
    padding: 12px;
}
.calculator form input{
    border: 0;
    outline: 0;
    border-radius: 12px;
    margin: 20px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    box-shadow: -8px -8px 12px rgb(255,255,255,0.1),rgb(0,0,0, 0.1);
    color: blue;
    cursor: pointer;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;

}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 30px;
    color: crimson;
    cursor: none;
    box-shadow: none;
    padding: 10px;
}
form input.equal{
    width: 150px;
}
form input:nth-child(even){
    background-color: chartreuse;
}
form input:nth-child(odd){
    background-color: darkseagreen;
}
form input:hover{
    background-color: brown;
}